{% extends 'sendmail/base.html' %}
{% block content %}

<div class="col-12">
    <div class="row">
        <h1>Список пользователей сервиса</h1>
        {% for object in object_list %}
            <form class="row" method="post">
                <div class="col-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="my-0 font-weight-normal">Пользователь: {{ object.email }}</h3>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}